:root {
  --header-height: calc(var(--square-button-width) + var(--padding-thick) + var(--padding-thin));

  --square-button-width: 2.5rem;

  --padding-tiny: 0.25rem;
  --padding-thin: 0.5rem;
  --padding-medium: 1rem;
  --padding-thick: 2rem;

  --border-radius: 10px;
  --border-radius-small: 5px;
  --border-radius-styled: 5px 10px;

  --color-dark-3: #000e1a;
  --color-dark-2: #00294d;
  --color-dark-1: #004480;
  --color-dark-gray: #555555;
  --color-gray: #777777;
  --color-light-gray: #ebebeb;
  --color-primary: #32a6ff;

  --color-red: #ff4a32;
  --color-red-dark: #991200;

  --chat-width: max(25vw, 200px);

  --font-family-headings: 'Montserrat', sans-serif;
  --font-family-main: 'Open Sans', sans-serif;

  --font-size-chat: 0.7rem;


}

html * {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-light-gray) #bbbbbb;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-light-gray);
  border-radius: var(--border-radius-small);
}

*::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 20px;
  border: 3px solid #ebebeb;
  background-clip: padding-box;
}

input {
  height: var(--square-button-width);
  width: 30vw;
  min-width: 4rem;
  border-radius: var(--border-radius-styled);
  outline: none;
  border: none;
  padding: var(--padding-thin);
}

#chat_message {
  width: 100%;
}

.label {
  margin-right: var(--padding-thin);
  width: max-content;
}

video {
  border-radius: var(--border-radius-small);
  width: auto;
  object-fit: cover;
  margin: var(--padding-thin);
  display: table-cell;
}

/* all of the following numbers
will seem like they are one smaller
than they should be.  This is because
the true first child of the video container
is the user's own video, which has
its own styles in #my-video */

/* one items */
video:first-child:nth-last-child(2),
video:first-child:nth-last-child(2) ~ video {
  width: 90%;
  height: 90%;
}
/* two items */
video:first-child:nth-last-child(3),
video:first-child:nth-last-child(3) ~ video {
  width: 40%;
  height: 40%;
}
/* three items */
video:first-child:nth-last-child(4),
video:first-child:nth-last-child(4) ~ video {
  width: 40%;
  height: 40%;
}
/* four items */
video:first-child:nth-last-child(5),
video:first-child:nth-last-child(5) ~ video {
  width: 40%;
  height: 40%;
}
/* five items */
video:first-child:nth-last-child(6),
video:first-child:nth-last-child(6) ~ video {
  width: 30%;
  height: 30%;
}

.name-prompt-form {
  display: flex;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: var(--padding-thick);
  border-radius: var(--border-radius-small);
  background-color: var(--color-dark-1);
  color: white;
  z-index: 999;
}

.popup-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vh 10vw;
  background-color: #ffffffbb;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
}

#exit-confirmation {
  border-radius: var(--border-radius-small);
  background-color: var(--color-dark-1);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-thick);
  font-weight: bold;
}

.v-app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template: var(--header-height) 1fr var(--header-height) / 1fr var(--chat-width);
  width: 100%;
  background-color: var(--color-dark-3);
  font-family: var(--font-family-main);
}

.end-screen {
  z-index: 50;
  display: flex;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: var(--padding-thick);
  border-radius: var(--border-radius-small);
  background-color: var(--color-dark-1);
  color: white;
}

#my-video {
  width: 17%;
  min-width: 150px;
  height: auto;
  margin: var(--padding-thin);
  position: absolute;
  z-index: 40;
  left: 0;
  bottom: 0;
}

.header {
  grid-area: 1 / 1 / span 1 / span 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-2);
  color: white;
  font-family: var(--font-family-headings);
}

.video-group {
  grid-area: 2 / 1 / span 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-grid {
  width: 75vw;
  height: calc(100vh - var(--header-height) * 2);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
}

.options {
  grid-area: 3 / 1 / span 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark-2);
  color: white;
  padding: var(--padding-medium);
  font-family: var(--font-family-headings);
}

.options-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

}

.options-left {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.options-button {
  background-color: var(--color-primary);
  padding: var(--padding-thin);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-styled);
  margin-left: var(--padding-thin);
  margin: var(--padding-thin);
  height: var(--square-button-width);
  width: var(--square-button-width);
  cursor: pointer;
}

.muted {
  background-color: var(--color-red-dark);
}

.fit-width-button {
  width: max-content;
}

.faded-button {
  background-color: white;
  color: var(--color-primary);
}

.main-chat-window {
  grid-area: 2 / 2 / span 1 / span 1;
  background-color: var(--color-dark-1);
  color: white;
  padding: var(--padding-thin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.main-message-container {
  grid-area: 3 / 2 / span 1 / span 1;
  background-color: var(--color-dark-1);
  color: white;
  display: flex;
  align-items: center;
  padding: var(--padding-medium);
}

.messages {
  width: 100%;
  height: calc(100vh - var(--header-height) * 2 - var(--padding-medium));
  background-color: white;
  border-radius: var(--border-radius-small);
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-message {
  width: max-content;
  padding: var(--padding-thin);
  margin-top: var(--padding-thin);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-chat);
  background-color: white;
  color: black;
  position: relative;
  border-radius: 1rem 1rem 1rem 2px;
}

.chat-message-time {
  font-size: 0.5rem;
  margin: 0 0.5rem;
  align-self: flex-start;
  padding: 0;
  color: var(--color-dark-gray);
}

.chat-message-name {
  font-size: 0.6rem;
  align-self: flex-start;
  padding: 0;
  margin: 0 0.5rem;
  text-transform: capitalize;
  width: max-content;
  color: var(--color-dark-1);
}

.chat-message-text {
  max-width: 80%;
  padding: 0.5rem;
  text-align: left;
  background-color: #ebebeb;
  border-radius: 1rem 1rem 1rem 2px;
  align-self: flex-start;
}

.chat-message.from-self {
  align-self: flex-end;
}

.chat-message.from-self > .chat-message-text {
  border-radius: 1rem 1rem 2px 1rem;
  color: white;
  background-color: var(--color-dark-1);
  align-self: flex-end;
}

.chat-message.from-self > .chat-message-name {
  align-self: flex-end;
}

.chat-message.from-self > .chat-message-time {
  align-self: flex-end;
}



.toast-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none;
  z-index: 1000;
}

.toast-conatiner * {
  pointer-events: none;
}

.toast {
  max-width: 100%;
  padding: 0.5rem;
  margin: 1rem;
  border: 2px solid #ebebeb;
  background-color: #ffffffcc;
  color: black;
  font-family: 'Montserrat' !important;
  border-radius: var(--border-radius-small);
  text-align: center;
  font-weight: bold;
  font-size: 2vh;
  border-radius: 100px;
  transition-duration: 0.7s;
  filter: opacity(0);
  z-index: 50;
}

.show-toast {
  filter: opacity(1);
}

.error {
  color: white;
  background-color: #ff0000aa;
}

.chat-fill {
  height: 100%;
  width: 100%;
  color: var(--color-light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

@media only screen and (max-width: 600px) {
  :root {
    --header-height: calc(var(--square-button-width) + var(--padding-medium));
    --square-button-width: 2rem;
  }


  #my-video {
    min-width: 100px;
  }

  #v-app {
    grid-template: var(--header-height) 1fr var(--header-height) 1fr var(--header-height) / 1fr;
    max-width: 100vw;
    max-height: 100vh;
  }

  #chat_message {
    margin-left: var(--padding-thin);
  }

  .header {
    grid-area: 1 / 1 / span 1 / span 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video-group {
    grid-area: 2 / 1 / span 1 / span 1;
  }

  .video-grid {
    width: 100%;
    height: calc((100vh - var(--header-height) * 3) * 2 / 3);
  }

  .messages {
    width: 100%;
    height: calc((100vh - var(--header-height) * 3) / 3 - var(--padding-medium));
  }

  .options {
    grid-area: 3 / 1 / span 1 / span 1;
    padding: var(--padding-medium) 0;
  }

  .main-chat-window {
    grid-area: 4 / 1 / span 1 / span 1;
  }

  .main-message-container {
    grid-area: 5 / 1 / span 1 / span 1;
    padding: var(--padding-thin) 0;
  }

  .toast-container {
    width: 100%;
    bottom: var(--header-height);
  }

}
